body{
    background: #FFD693;
    max-width: 100vh;
    padding: 0 25%;
}
figure,h1,h2{
    text-align: center;
}
ul{
    padding-inline-start:40px;
}
img{
    max-width: 40vw;
}
.links-wrapper{
    display: flex;
    gap: 70px;
}
@media (max-width: 600px) {
    body{
        padding: 0 15px;
    }
}
