@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

body{ 
    font-family: 'Lora', serif;
    background-color: white;
    margin: 0;
}
.header{
    background-color: #75A7E2;
    align-items: center;
    gap: 25px;
    display: flex;
    padding: 20px 15px;
}
h1{
  font-size: 50px;
}
img{
    margin-right: 10px;
}
#clock{
    font-size:3em;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vektor{
    border: 12px solid #2260AA;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 20px;
}

.vektor h2 {
    flex: 0,5; 
}
.map{
    width: 500px;
    height: 300px;
}
footer{
    background-color: #75A7E2;
    padding: 10px 0;
    text-align:center;
}
.hhh{
    width: 60px;
    margin: 40px;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    font: inherit;
    color: inherit;
    text-decoration: none;
}

.slick-slider {
    display: flex !important;
    align-items: center;
    gap: 3%;
}

.carousel__item {
    display: flex !important;
    flex-direction: column;
    margin-right: 20px;
}
.image{
    width: 300px;
    height: 310px;
}
.carousel__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}
a{
    width: 150px;
    text-align: center;
}



.container {
    display: flex;
    justify-content: flex-start;
    align-items: right;
    min-height: 80px;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.menu {
    width: calc(100% - 4em);
    height: 2em;
    display: flex;
    justify-content: flex-end;
    align-items: right;
    padding: 2em;
}

.menu_item {
    margin-right: 1em;
    display: flex;
}

.menu_small_icon {
    display: none;
}

.menu-small {
    display: none;
    height: 2em;
}

.menu_small_item {
    display: none;
}

@media (max-width: 650px) {
    .menu {
        display: none;
    }

    .menu-small {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0;
        position: absolute;
        background: white;
        transform: translateX(-100%);
    }

    .menu_small_item {
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_small_item:first-child {
        padding-top: calc(50px + 2em);
    }

    .menu_small_icon {
        position: absolute;
        top: 1em;
        right: 1em;
        width: 50px;
        height: 50px;
        display: flex;
        z-index: 1;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
}


