@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
*{
    margin: 0;
}
body{ 
    font-family: 'Lora', serif;
    background-color: white;

}
.header{
    background-color: #FFE6B4;
    align-items: center;
    gap: 15px;
    display: flex;
    padding: 20px 15px;
}

img{
    margin-right: 10px;
}
* {
    box-sizing: border-box;
  }
  form{
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  .zoom{
    width: 40px;
    position: absolute;
    right: 345px;
    top: 20px;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 400px;
    background: #f1f1f1;
    border-radius: 15px; 
    margin-bottom: 70px;
    margin-top: 20px;
    text-align: center;
  }
.chef{
    width: 300px;
    height: 300px;
}
.information{
    font-size: 29px;
    margin-bottom: 30px;
}
footer{
    background-color:#FFE6B4;
    padding: 10px 0;
    text-align:center;
}
a{
    text-decoration: none;
    color: black;
}
.food{
    font-size: 29px;
}
figure{
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
figure a{
    width: 200px;
    text-align: center;
}
figure img{
    width: 100%;
    height: 280px;
    object-fit: cover;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 70px;
}
.vektor{
    border: 12px solid #FFE6B4;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 20px;
}

.vektor h2 {
    flex: 0,5; 
}
@media screen and (max-width: 768px) {
    input[type="text"] {
        width: 100%;
    }

    .food {
        width: 100%;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cards {
        justify-content: center;
    }

    .food {
        width: 45%;
    }
}

